{{!-- Renders all avalible movies depending on the chosen genre from genre.handlebar page. --}}
{{#each results as |post|}}
<div class="productCard p-1">
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128 is-inline-block">
          <a class="image is-256x256 is-inline-block" href="/product/{{post.product.product_id}}"><img class="image is-256x256"
              src="{{post.product.product_image}}" alt="Movie-Image"></a>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
          <div class="fontfamily-sans-serif"><strong><a
                href="/product/{{post.product.product_id}}">{{post.product.product_name}}</a><br>Genre: {{post.product.product_genre}}
            </strong></div>
          <br>
          {{post.product.product_short_description}}
          </p>
        </div>
        {{log logged_in}}
        {{#if logged_in}}
        <button data-productID="{{post.product.product_id}}" class="button is-success addToCartBtn" height="96" width="96">Buy
          Now!</button>
        {{else}}
        <p height="96" width="96" class="is-size-5 has-text-weight-bold has-text-danger">Please login to add to cart</p>
          {{/if}}
          ${{post.product.product_price}}
          <br>
      </div>
    </article>
  </div>
</div>
{{/each}}

<script src="/js/addToCart.js"></script>