{{!-- 2nd Photo? Also a great place to test how handlebars will look finished--}}
<div>
  <h1>Homepage</h1>
</div>

{{!-- <div class="columns">
  <div class="column is-fluid">
    <div class="notification is-primary">
      We have a special sale going on,<strong> Buy 2 get one free!</strong>: Only for a limited time!
    </div>
  </div> --}}
  {{#each homepage as |post|}}
  <div class="productCard p-1">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128 is-inline-block">
            <a class="image is-256x256 is-inline-block" href="/product/{{post.product_id}}"><img class="image is-256x256"
                src="{{post.product_image}}" alt="Movie-Image"></a>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
            <div class="fontfamily-sans-serif"><strong><a href="/product/{{post.product_id}}">{{post.product_name}}</a> </strong></div>
            <br>
            {{post.product_short_description}}
            </p>
          </div>
          <button data-productID="{{post.product_id}}" class="button is-success addToCartBtn" height="96"
      width="96">Buy Now!</button>
          <br>
        </div>
      </article>
    </div>
  </div>
{{/each}}

  {{!-- <div class="productCard p-1">
    <div class="fontfamily-sans-serif">{{post.product_name}}</div>
    <div>
      <figure class="image is-256x256">
        <a class="image is-256x256" href="/product/{{post.product_id}}"><img class="image is-256x256"
            src="{{post.product_image}}"></a>
      </figure>
    </div>
    <button data-productID="{{post.product_id}}" class="button is-success is-light addToCartBtn" height="96"
      width="96">Buy Now!</button>
  </div>
  {{/each}} --}}

  <style>
    .container {
      height: 50vh;
    }

    .productCard {
      align-items: baseline;
      float: left;
      flex-direction: column;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
    }
  </style>
 
<script src="/js/addToCart.js"></script> 