<div>
  <h1 class="has-text-white is-size-3 has-text-centered pr-6 mr-6"><strong>Top 10 Movies Bought Today</strong></h1>
</div>

{{!-- Renders homepage with ten most popular movies overall. Will try to make it update based on daily purchases in future. --}}
  {{#each homepage as |post|}}
  <div class="productCard px-6 py-1">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128 is-inline-block">
            <a class="image is-256x256 is-inline-block" href="/product/{{post.product_id}}"><img
                class="image is-256x256" src="{{post.product_image}}" alt="Movie-Image"></a>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
            <div class="fontfamily-sans-serif"><strong><a href="/product/{{post.product_id}}">{{post.product_name}}</a>
              </strong>
              </div>
            <br>
            {{post.product_short_description}}
            </p>
          </div>
          <button data-productID="{{post.product_id}}" class="button is-success addToCartBtn" height="96" width="96">Buy
            Now!</button>
            ${{post.product_price}}
          <br>
        </div>
      </article>
    </div>
  </div>
  {{/each}}

  <style>
    .container {
      height: 50vh;
    }

    .productCard {
      align-items: baseline;
      float: left;
      flex-direction: column;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
    }
  </style>

  <script src="/js/addToCart.js"></script>