{{!-- 4th Photo/ FINISHED --}}
<div>
    <h1>Product Page</h1>
</div>
{{#each productDetail as |pd|}}
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-info">
                    <figure class="image is-4by1 is-inline-block">
                        <a class="image is-256x256 is-inline-block" href="/product/{{pd.id.product_id}}"><img
                                class="image is-256x256" src="{{pd.product_image}}" alt="Movie-Image"></a>
                    </figure>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                    <div class="content">
                        <p class="title">{{pd.product_name}}</p>
                        <p class="subtitle">{{pd.product_short_description}}</p>
                        <div class="content">
                            <strong>Trailer Description</strong>
                            <!-- Content -->
                            <br>
                           {{pd.product_trailer_description}}
                        </div>
                    </div>
                </article>
            </div>
            {{!--
            <script src=""></script> --}}
        </div>
    </div>
</div>
{{/each}}